body {
    padding-top: 70px;
    display: block;
    padding-left: 10%;
}

#homeLogoAndMotto {
    padding-right: 10%;
}

#loginRegister {
    padding-left: 10px;
}

#loginfields {
    padding: 5px 5px;
}

#whatsHot {
    text-align: center;
}

