body {
    background-color: #ffffff;
    font-size: 112%;
    font-family: Algerian;
    text-allign: left;
}
.body {
    margin: 0 auto;
    width: 85%;
    height: 100%;
    clear: both
}

a {
    text-decoration: none;
}

a:link, a:visited {

}

a:hover {

}

.mainheader nav {
    background-color: white;
    height: 50px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li {
    float: left;
    display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited, .mainheader nav .firma {
    color: lightgray;
    display: inline-block;
    padding: 12px 30px;
    height: 26px;
}

.mainheader nav .firma{
    padding: 0px 30px;
    color: black;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
    text-shadow: none;
    background-color: deepskyblue;
    color: orange;
}

.logoJaPilt, .firmaNimi {
    padding: 5%;
    display: flex;
    align-items: center;
    font-size: 175%;
    margin: 0 auto;
}

.piltideTulp {
    float: left;
    width: 33%;
}

.hotProductPictures {
    font-family: "Times New Roman";
}

.whatsHot {
    margin: 0 auto;
}

