<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="naviagtion">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Kell on kaheksa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" data-toggle="tooltip" title="Siit navigeerid kodulehele" th:text="#{home}"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products" data-toggle="tooltip" title="Siit navigeerid toodete lehele" th:text="#{products}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about" data-toggle="tooltip" title="Siit navigeerid meie info lehele" th:text="#{about_us}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help" data-toggle="tooltip" title="Siit navigeerid hetkel tühjale lehele" th:text="#{help}"></a>
                </li>
                <li class="nav-item" th:if="${user!=null}">
                    <a class="nav-link" href="profile" data-toggle="tooltip" title="Profiil" th:text="#{profile_page}"></a>
                </li>
                <li class="nav-item" th:if="${user!=null}">
                    <a class="nav-link" href="addProducts" data-toggle="tooltip" title="Siin saab tulevikus toodeid lisada" th:text="#{add_products}"></a>
                </li>
                <li class="nav-item" th:if="${user==null}">
                    <a class="btn btn-block btn-social btn-google" href="/login" th:text="#{login_w_google}">
                    </a>
                </li>
                <li class="nav-item" th:unless="${user==null}">
                    <a class="btn btn-block btn-social btn-google" href="/logout"
                       th:text="#{logged_as} + ${user.firstName} + #{log_out}">
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong th:text="#{language}"></strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                        <div class="col">
                            <a href="?lang=en" rel="alternate" hreflang="en" th:text="#{en_lang}"></a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="col">
                            <a href="?lang=et" rel="alternate" hreflang="et" th:text="#{et_lang}"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
