<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="description" content="Our website is designed to be perfect. Highly valued clocks are bought from here.">
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title th:text="#{about_title}"></title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="container-fluid">
    <!-- Mapist kõrgemal olev osa-->
    <div class="row">
        <div class="col-4 offset-4 justify-content-center">
            <h2 th:text="#{about_header}">Who are we?!?!</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 offset-3 justify-content-center">
            <p>Lorem ipsum dolor sit amet, ut malis harum decore mei. Et case gloriatur eos, mel te omnium imperdiet. Nobis timeam pro te, per adhuc appellantur in. Ad doctus adipiscing nec.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div id="map" style="width:90%; height: 500px;"></div>
        </div>

    </div>

</div>

<script>
    function initMap() {
        var liivi = {lat: 58.3782485, lng: 26.7124846};

        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: liivi});
        var marker = new google.maps.Marker({position: liivi, map: map});
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu0AZiGJ4n9vodTroUU9IE6GUGsAeXNEg&callback=initMap"></script>

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu0AZiGJ4n9vodTroUU9IE6GUGsAeXNEg&callback=initMap"></script>-->
</body>
</html>
