<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title th:text="#{add_products_title}"></title>
    <meta name="description" content="Make your own alarmclock and add it to the products. Choose your own price.">
    <th:block th:include="fragments/head :: head"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">

    <div class="col-10">
        <div th:if="${productAdded}" class="alert alert-success" role="alert">
            <p th:text="#{product_added}"></p>
        </div>
    </div>

    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" />
        <p>
            <label for="productNameInput" th:text="#{product_name_input}"></label>
            <input id="productNameInput" type="text" th:field="*{productName}" th:required="required" />
        </p>

        <p>
            <label for="productCatDropdown" th:text="#{product_category_input}"></label>
            <select id="productCatDropdown" th:field="*{category}">
                <option th:value="'Käekell'" th:text="#{watch}"></option>
                <option th:value="'Taskukell'" th:text="#{pocket_clock}"></option>
                <option th:value="'Seinakell'" th:text="#{wall_clock}"></option>
                <option th:value="'Äratuskell'" th:text="#{alarm_clock}"></option>
                <option th:value="'Spordikell'" th:text="#{sport_watch}"></option>
                <option th:value="'Stopper'" th:text="#{stopwatch}"></option>
            </select>
        </p>

        <p>
            <label for="productPriceInput" th:text="#{price}"></label>
            <input id="productPriceInput" type="number" th:field="*{price}" th:required="required" min="0.01" step=".01"/>
        </p>

        <p>
            <label for="productQuantityInput" th:text="#{quantity}"></label>
            <input id="productQuantityInput" type="number" th:field="*{quantity}" th:required="required" min="1"/>
        </p>

        <p>
            <label for="productDescInput" th:text="#{desc}"></label>
            <input id="productDescInput" type="text" th:field="*{productDescription}" th:required="required"/>
        </p>

        <p>
            <label for="productShortDescInput" th:text="#{short_desc}"></label>
            <input id="productShortDescInput" type="text" th:field="*{productShortDescription}" th:required="required"/>
        </p>

        <p><input type="submit" th:value="#{submit_form}" /><input type="reset" th:value="#{reset_form}" /></p>
    </form>

    <a href="/allProducts" th:text="#{see_all_products}"></a>
</div>


</body>
</html>