<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title>Add products</title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div class="container-fluid">

    <form action="#" th:action="@{addProducts.html}" th:object="${product}" method="post">
        <p>Name: <input type="text" th:field="*{productName}" /></p>
        <p>Category: <input type="text" th:field="*{category}" /></p>
        <p>Price: <input type="number" th:field="*{price}" /></p>
        <p>Description: <input type="text" th:field="*{productDescription}" /></p>
        <p>Short description: <input type="text" th:field="*{productShortDescription}" /></p>
        <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
    </form>
</div>


</body>
</html>