<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title th:text="#{add_products_title}"></title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div class="container-fluid">

    <div th:if="${productAdded}" class="alert alert-success" role="alert">
        <p th:text="${productAdded}">success message</p>
    </div>

    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" />
        <p th:text="#{product_name_input}"></p><input type="text" th:field="*{productName}" th:required="required" />
        <p th:text="#{product_category_input}"/>
            <select th:field="*{category}">
                <option th:value="'Käekell'" th:text="#{watch}"></option>
                <option th:value="'Taskukell'" th:text="#{pocket_clock}"></option>
                <option th:value="'Seinakell'" th:text="#{wall_clock}"></option>
                <option th:value="'Äratuskell'" th:text="#{alarm_clock}"></option>
                <option th:value="'Spordikell'" th:text="#{sport_watch}"></option>
                <option th:value="'Stopper'" th:text="#{stopwatch}"></option>
            </select>
        </p>
        <p th:text="#{price}"/><input type="number" th:field="*{price}" th:required="required" min="0"/></p>
        <p th:text="#{quantity}"/><input type="number" th:field="*{quantity}" th:required="required" min="1"/></p>
        <p th:text="#{desc}"/><input type="text" th:field="*{productDescription}" th:required="required"/></p>
        <p th:text="#{short_desc}"/><input type="text" th:field="*{productShortDescription}" th:required="required"/></p>
        <p><input type="submit" th:value="#{submit_form}" /><input type="reset" th:value="#{reset_form}" /></p>
    </form>

    <a href="/allProducts" th:text="#{see_all_products}"></a>
</div>


</body>
</html>