<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="description" content="All the current products. Kell on kaheksa website has thousands of products and in here you can find appropriate watch for your wife or husband.">
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title th:text="#{all_products_title}"></title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container-fluid">

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <div id="productsInfo">
        <p id="countOfUniqueProducts" th:text="#{nr_of_unique_products} + ${uniqueProductCount}"></p>
        <p id="countOfProducts" th:text="#{nr_of_total_products} + ${productCount}"></p>
    </div>

    <div th:if="${not #lists.isEmpty(product)}">
        <h2 th:text="#{all_products_table}"></h2>
        <table class="table table-striped">
            <tr>
                <th th:text="#{product_id_table}"></th>
                <th th:text="#{product_name_table}"></th>
                <th th:text="#{product_category_table}"></th>
                <th th:text="#{product_price_table}"></th>
                <th th:text="#{product_quantity_table}">Quantity</th>
                <th th:text="#{product_description_table}">Description</th>
                <th th:text="#{product_s_description_table}">Short description</th>
                <th th:text="#{product_edit_table}">Edit</th>
                <th th:text="#{product_delete_table}">Delete</th>
            </tr>
            <tr th:each="product : ${product}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.productDescription}"></td>
                <td th:text="${product.productShortDescription}"></td>
                <td><a href="#" th:href="@{/allProducts/edit/} + ${product.id}">Edit</a></td>
                <td><a href="#" th:href="@{/allProducts/delete/} + ${product.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>


</body>
</html>