<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="description" content="Incase you get lost, you can always get help from here. We are here for you 24/7.">
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title th:text="#{help_title}"></title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>


<div class="container-fluid">

</div>

</body>
</html>
