<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{help_title}"></title>
    <meta name="description" content="Incase you get lost, you can always get help from here. We are here for you 24/7.">
    <th:block th:include="fragments/head :: head"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">

    <div class="col-10">
        <div th:if="${reviewAdded}" class="alert alert-success" role="alert">
            <p th:text="#{review_added}"></p>
        </div>
    </div>

    <h3 th:text="#{leave_us_reply}"></h3>

    <form action="#" th:action="@{/replySaved}" th:object="${review}" method="post">
        <p>
            <label for="reviewField" th:text="#{user_reply_input}"></label>
            <input type="text" id="reviewField" th:field="*{reply}" th:required="required" />
        </p>
        <p><input type="submit" th:value="#{submit_form}"></p>
    </form>
</div>

</body>
</html>
