<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"/>

<!-- Kasutu html fail praegu -->

<body class="body">

    <div id="container">

        <div id="header">
            <header class="navigation">
                <nav><ul>
                    <li><div class="firma">
                        <p>Kell on 8</p>
                    </div>
                    </li>
                    <li class="active"><a href="#">Kodu</a></li>
                    <li><a href="#">Tooted</a></li>
                    <li><a href="#">Meist</a></li>
                    <li><a href="#">Abi</a></li>
                </ul></nav>
            </header>
        </div>

        <div id="body">
            <main class="maincontent">
                <div class="homecontent">
                    <div class="logoJaPilt">
                        <img src=http://www.clker.com/cliparts/n/v/t/V/0/e/8-o-clock-md.png>
                        <div class="firmaNimi">
                            <bold>Kell on kaheksa</bold>
                        </div>
                    </div>

                    <div class="hotProducts">
                        <div class="whatsHot">
                            <bold>Hetkel kuumad tooted</bold>
                        </div>
                        <div class="hotProductPictures">
                            <div class="piltideTulp">
                                <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="200" height="200">
                                <p>See on röster 1</p>
                            </div>
                            <div class="piltideTulp">
                                <img class="toaster2" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="200" height="200">
                                <p>See on röster 2</p>
                            </div>
                            <div class="piltideTulp">
                                <img class="toaster3" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="200" height="200">
                                <p>See on röster 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</body>

</html>