<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title>Kell on kaheksa</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<script src="/static/javascript/loadMore.js"></script>

<body>

<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <img src=https://i.imgur.com/kAOp1OF.png width="85%">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12" id="whatsHot">
                <h1 data-toggle="tooltip" title="See tekst on rakendusesisene abiinfo">What's hot</h1>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <div class="hotProducts">
                    <div class="row align-items-center">
                        <div class="col">
                            <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="65%" height="65%">
                            <div>One of three columns</div>
                        </div>
                        <div class="col">
                            <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="65%" height="65%">
                            <div>One of three columns</div>
                        </div>
                        <div class="col">
                            <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg width="65%" height="65%">
                            <div>One of three columns</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <br>

            <div class="col-2 offset-4" id="loadMore" >
                <button onclick="loadMail()" class="btn-info" data-toggle="tooltip" title="Siia vajutades laetakse rohkem sisu">Load more</button>
            </div>
            <div class="col-12" id="loadMail">
                <label for="aadress" data-toggle="tooltip" title="See funktsioon ei tööta">Teie e-maili aadress:</label>
                <input type="text" id="aadress">
                <button type="button" id ="meil" class="btn">Saada info meilile</button>
                <!--<form action="#" th:action=""-->
                <!--<form action="#" th:action="@{/}" th:object="${mail}" method="post">
                    <table border="1">
                        <tr>
                            <td><label text="E-mail address"/></td>
                            <td><input type="email" th:field="*{email}"/></td>
                        </tr>
                        <tr>
                            <td><input class="btn-danger" type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
