<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{products_title}"></title>
    <meta name="description" content="Alarmclock, wrist watch, wall clock, you name it. We got everything for everybody!">
    <th:block th:include="fragments/head :: head"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>


<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-4 float-right" id="shoppingCart">
                <div class="dropdown">
                    <button th:text="#{cart}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="row">
                            <div class="col-9">
                                <button class="dropdown-item" type="button">Toaster 1</button>
                            </div>
                            <div class="col-1">
                                <button class="btn-danger" type="button">X</button>
                            </div>
                        </div>
                        <button class="dropdown-item" type="button">Toaster 2</button>
                        <button class="dropdown-item" type="button">Toaster 3</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="w-100"></div>
        <div class="col" id="productCategories">
            <div class="dropdown">
                <button th:text="#{choose_category}" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" id="kat1Nupp" type="button" onclick="window.location.href='/käekell'" th:text="#{watch_cat}">Watch</button>
                    <button class="dropdown-item" id="kat2Nupp" type="button" onclick="window.location.href='/taskukell'" th:text="#{pocket_cat}">Pocket clock</button>
                    <button class="dropdown-item" id="kat3Nupp" type="button" onclick="window.location.href='/seinakell'" th:text="#{wall_cat}">Wall clock</button>
                    <button class="dropdown-item" id="kat4Nupp" type="button" onclick="window.location.href='/äratuskell'" th:text="#{alarm_cat}">Alarm clock</button>
                    <button class="dropdown-item" id="kat5Nupp" type="button" onclick="window.location.href='/spordikell'" th:text="#{sport_cat}">Sportwatch</button>
                    <button class="dropdown-item" id="kat6Nupp" type="button" onclick="window.location.href='/stopper'" th:text="#{stop_cat}">Stopwatch</button>
                </div>
            </div>
        </div>
        <div class="w-100"></div>

        <div class="col-12">
            <div class="products">
                <div class="row align-items-center">
                    <tr th:each="product : ${allProducts}">
                        <div class="col-4">
                            <div id="tootePilt">
                                <img id="blankPicture" src="https://via.placeholder.com/250x250" alt="blankPicture">
                            </div>
                            <div id="tooteNimi">
                                <td th:text="${product.productName}">
                            </div>
                            <div id="tooteHind">
                                <td th:text="${product.price}">
                            </div>
                            <div id="tooteLühikirjeldus">
                                <td th:text="${product.productShortDescription}">
                            </div>
                            <div>
                                <button class="btn-dark">Add to cart</button>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
