<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="description" content="Alarmclock, wrist watch, wall clock, you name it. We got everything for everybody!">
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title th:title="#{products_title}"></title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-8"  id="valitudKat"><h2 th:text="#{product_category}"></h2></div>
            <div class="col-4 float-right" id="shoppingCart">
                <div class="dropdown">
                    <button th:text="#{cart}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="row">
                            <div class="col-9">
                                <button class="dropdown-item" type="button">Toaster 1</button>
                            </div>
                            <div class="col-1">
                                <button class="btn-danger" type="button">X</button>
                            </div>
                        </div>
                        <button class="dropdown-item" type="button">Toaster 2</button>
                        <button class="dropdown-item" type="button">Toaster 3</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="w-100"></div>
        <div class="col" id="productCategories">
            <div class="dropdown">
                <button th:text="#{choose_category}" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item active" id="kat1Nupp" type="button">Cat1</button>
                    <button class="dropdown-item" id="kat2Nupp" type="button">Cat2</button>
                    <button class="dropdown-item" id="kat3Nupp" type="button">Cat3</button>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row" id="esimeneRidaTooteid">
            <div class="col-3 offset-1" id="esimeneRidaEsimene">
                <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster1" width="80%">
            </div>
            <div class="col-3" id="esimeneRidaTeine">
                <img class="toaster2" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster2" width="80%">
            </div>
            <div class="col-3" id="esimeneRidaKolmas">
                <img class="toaster3" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster3" width="80%">
            </div>
        </div>
        <div class="row" id="teineRidaTooteid">
            <div class="col-3 offset-1" id="teineRidaEsimene">
                <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster4" width="80%">
            </div>
            <div class="col-3" id="teineRidaTeine">
                <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster5" width="80%">
            </div>
            <div class="col-3" id="teineRidaKolmas">
                <img class="toaster1" src=https://static1.nordic.pictures/3209457-thickbox_default/tss801ss-taoster.jpg alt="Roaster5" width="80%">
            </div>
        </div>
    </div>
</div>

</body>
</html>
