<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"/>
<title>Kell on kaheksa</title>

<body>

<div class="naviagtion">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Kell on kaheksa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products/kategooria1">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help">Help</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Log in or register</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div id="loginRegister">
                            <div class="col-4">
                                <a class="btn btn-block btn-social btn-facebook" href="#">
                                    <span class="fa fa-facebook"></span> Log in with Facebook
                                </a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="col-4">
                                <a class="btn btn-block btn-social btn-google" href="#">
                                    <span class="fa fa-google"></span> Log in with Google
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-4" id="profiilipilt">
                <img src="http://www.clker.com/cliparts/1/o/F/g/6/N/full-black-square-md.png">
                <div class="upload-file">
                    <button class="btn-dark">Upload profile picture</button>
                    <input type="file" name="profilePic">
                </div>
            </div>
            <div class="col-7 float-right" id="isikuInfo">
                <p>Inimese nimi: Registreerimisest saadud nimi</p>
                <p>E-mail: Registreerimisest saadud meiliaadress</p>
                <label for="aadress">Aadress:</label>
                <input type="text" id="aadress">
                <br>
                <label for="makseinfo">Makseinfo:</label>
                <input type="text" id="makseinfo">
            </div>
        </div>
    </div>
</div>

</body>
</html>
