<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title>Profile</title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div class="container-fluid">
    <div class="body">
        <div class="row">
            <div class="col-4" id="profiilipilt">
                <img src="http://www.clker.com/cliparts/1/o/F/g/6/N/full-black-square-md.png">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadProfilePic">
                    Upload your profile picture
                </button>
                <div class="modal fade" id="uploadProfilePic" tabindex="-1" role="dialog" aria-labelledby="uploadProfilePicture" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadLabel">Choose the file you wish to upload</h5>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="getdata.php" enctype="multipart/form-data">
                                    <input type="file" name="myimage">
                                    <input type="submit" name="submit_image" value="Upload">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 float-right" id="isikuInfo">
                <p>Inimese nimi: Registreerimisest saadud nimi</p>
                <p>E-mail: Registreerimisest saadud meiliaadress</p>
                <label for="aadress">Aadress:</label>
                <input type="text" id="aadress">
                <br>
                <label for="makseinfo">Makseinfo:</label>
                <input type="text" id="makseinfo">
            </div>
        </div>
    </div>
</div>

</body>
</html>
