<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="description" content="Upload a profile of yours so we can truly see who you are. ">
    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/header :: header"/>
    <title>Profile</title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div class="container-fluid">
    <div class="body">
        <div class="col-10">
            <div th:if="${fileUploadError}" class="alert alert-danger" role="alert">
                <p th:text="#{file_upload_failure}"></p>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div th:if="${picture==null}">
                    <h4 th:text="#{upload_picture}"></h4>
                    <img src="http://www.clker.com/cliparts/1/o/F/g/6/N/full-black-square-md.png" alt="Black screen">
                    <form th:action="@{/uploadProfilePic}" enctype="multipart/form-data" method="post">
                        <input type="file" id="file" name="file" th:required="required" />
                        <input type="submit" th:value="#{submit_form}">
                    </form>
                </div>
                <div th:unless="${picture==null}">
                    <img th:src="${picture}" alt="Profile picture">
                    <form th:action="@{/deleteProfilePic}" method="post">
                        <input type="submit" th:value="#{delete_profile_pic}">
                    </form>
                </div>

                <!--siia tuleb lisada pildi kustutamine ja see et üleslaadimine õnnestus-->
            </div>
            <div class="col float-right" id="isikuInfo">
                <div id="usersName" th:text="#{your_name} + ${user.firstName} + ' ' + ${user.lastName}"></div>

                <form action="#" th:action="@{/saveProfileAddress}" th:object="${user}" method="post">
                    <p th:text="#{user_address_input}"></p><input type="text" th:field="*{address}" th:required="required" />
                    <p><input type="submit" th:value="#{submit_form}"></p>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
