<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{stat_title}"></title>
    <meta name="description" content="Awesome stats about our page">
    <th:block th:include="fragments/head :: head"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">

    <div id="heading">
        <h2 th:text="#{stat_head}"></h2>
        <br>
    </div>
    <div id="mostUsedBrowser">
        <h4 th:text="#{most_used_browser}"></h4>
        <div th:each="browser : ${topBrowser}">
            <h6 th:text="${browser}"></h6>
            <!--<td th:text="${browser.value}">-->
        </div>
        <br>
    </div>

    <div id="mostUsedOS">
        <h4 th:text="#{most_used_os}"></h4>
        <div th:each="os : ${topOS}">
            <h6 th:text="${os}"></h6>
            <!--<td th:text="${os.value}">-->
        </div>
        <br>
    </div>

    <div id="mostVisitedPage">
        <h4 th:text="#{most_visited_page}"></h4>
        <div th:each="page : ${mostVisitedPage}">
            <h6 th:text="${page}"></h6>
        </div>
        <br>
    </div>


</div>

</body>
</html>
